<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Plans Tonight? <br>
      <i class="fa fa-map-marker" style="margin-top: 20px; margin-right: 10px"></i>
      <i class="fa fa-cab"></i>
      <i class="fa fa-glass"></i>
    </h1>

    <p class="lead">See which bars are hoppin' tonight and RSVP ahead of time!
      <br>Remember: take a cab and drink responsibly.
    </p>
  </div>
</header>

<div class="container">
  <form class="main-form">
    <label>Check Out an Area</label>

    <p class="input-group">
      <input type="text" class="form-control" placeholder="Type a location here" ng-model="main.searchField">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary search" ng-click="main.search(main.searchField)">Search</button>
      </span>
    </p>
  </form>
</div>


<div ng-hide="!main.hasResults" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="">Night Life Locations Near: {{main.searchField}}</h1>
      <input type="text" class="form-control" placeholder="Start typing to filter results" ng-model="main.filter">
      <hr>
      <ul class="nav col-sm-12" ng-repeat="result in main.results | filter:main.filter">
        <li class="nightlifeLoc">
          <div class="row">
            <div class="col-sm-10">
              <img class="img-responsive pull-left" ng-src="{{result.image_url}}">
              <a href="{{result.url}}" target="_blank" tooltip="Open Yelp Review">{{result.name}}</a>


              <p >&quot;{{result.snippet_text}}&quot;</p>

              <p ng-hide="result.visitors.length == 0">Who's Going:
                <span class="btn btn-default" ng-repeat="visitor in result.visitors">{{visitor.name}}</span>
              </p>
            </div>

            <div class="col-sm-2">

              <button ng-hide="result.showMore" type="button" class="close btnTriangle pull-right" ng-click="result.showMore = true"
                      tooltip="More">&blacktriangledown;</button>
              <button ng-hide="!result.showMore" type="button" class="close btnTriangle pull-right" ng-click="result.showMore = false"
                      tooltip="Less">&blacktriangle;</button>
              <span ng-click="main.toggleGoing(result)" class="btn btn-default pull-right" tooltip="{{main.goingToolTip(result)}}">{{result.visitors.length}} GOING</span>
            </div>
          </div>
          <div ng-hide="!result.showMore" class="row">
            <div class="col-sm-12">
              <dl class="dl-horizontal pull-left">
                <dt>Phone:</dt>
                <dd>{{result.phone}}</dd>
                <dt>Address:</dt>
                <dd>{{result.location.display_address[0]}}</dd>
                <dd>{{result.location.display_address[1]}}</dd>
                <dd>{{result.location.display_address[2]}}</dd>
              </dl>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer></footer>
