.main-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  background: $color-secondary;
  color: $color-text;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.navbar a:hover,  a:focus {
  color: white !important;
}

.navbar {
  background: $color-primary;
  color: $color-text;
  border-color: $color-secondary;
}

.nightlifeLoc {
  background: $color-secondary;
  border-radius: 5px;

  margin-top: 10px;
  padding: 10px;
}

.btnTriangle {
  color: white !important;
}

.close {
  margin-left: 10px;
}

.img-responsive {
  border-radius: 5px;
  margin-right: 10px;
}

.btn {
  background: $color-primary;
  color: $color-text;
  border-color: $color-primary;
  margin-left: 5px;
}

.search:hover, .search:focus {
  background: white;
  color: black;
  border-color: $color-primary;
}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

.search {
  background: $color-secondary;
  border-color: $color-secondary;
}

.form-control {
  border-color: $color-primary;
}
