<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Plans Tonight? <br>
      <i class="fa fa-map-marker" style="margin-top: 20px; margin-right: 10px"></i>
      <i class="fa fa-cab"></i>
      <i class="fa fa-glass"></i>
    </h1>

    <p class="lead">See which bars are hoppin' tonight and RSVP ahead of time!
      <br>Remember: take a cab and drink responsibly.
    </p>
  </div>
</header>

<div class="container">
  <form class="thing-form">
    <label>Check Out an Area</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Type a location here" ng-model="main.searchField">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="main.search()">Search</button>
      </span>
    </p>
  </form>
</div>


<div ng-hide="!main.hasResults" class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Night Life Locations near: {{main.searchField}}</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="result in main.results">
        <li><a href="#" tooltip="{{result.info}}">{{result.name}}
          <button type="button" class="close" ng-click="main.deleteThing(result)">&times;</button>
        </a></li>
      </ul>
    </div>
  </div>
</div>

<footer></footer>
